<!--品牌经营-->
<section id="services-brandpaltform" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">品牌经营</h3>
                <span class="customer-content-sm"> 进行品牌策划、品牌管理、品牌开发、品牌规划等</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/1.jpg" />
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/2.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/3.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/4.jpg" />
                    
                </a>

            </div>

            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/5.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/6.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/7.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/8.jpg" />
                    
                </a>

            </div>

            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/9.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/10.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/11.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/12.jpg" />
                    
                </a>

            </div>

            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/13.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/14.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/15.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/16.jpg" />
                    
                </a>

            </div>

            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/17.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/18.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/19.jpg" />
                    
                </a>

            </div>
            <div class="col-xs-4 col-is-3 col-sm-2 col-md-2">
                <a  href="javaScript:void(0)">
                    <img class="image200" src="~/img/Service/BrandPlatform/maker/20.jpg" />
                    
                </a>

            </div>

        </div>


    </div>
</section>

<script>

    $(function () {

    })

</script>