@{
    ViewBag.Title = "制造平台";
}
<!--制造平台-->
<section id="services-makeplatform">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">制造平台</h3>
                <p class="customer-content-sm"> 大批量生产：承接已开发产品大批量生产、出货</p>
                <p class="customer-content-sm">专业化制造：承接已开发产品专业化制造</p>
            </div>
        </div>
        <div class="row">



        </div>
    </div>
</section>

<script>

    $(function () {

    })

</script>