@{
    ViewBag.Title = "产品平台";
}
<!--产品平台-->
<section id="services-productplatform" class="bg-light-gray portfolioContainer">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">产品平台</h3>
                <span class="customer-content-sm"> &nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-zzxm" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/zzxm.jpg" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">众创项目</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-cxyy" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/cxyy-bg.jpg" />


                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">产学研用</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-whcy" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/whcy-bg.jpg" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">文化创意</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-idmd" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/idmd-bg.jpg" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">ID & MD</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-yjsj" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/yjsj-bg.jpg" />
                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">硬件设计</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-rjkf" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/rjkf-bg.jpg" />


                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">软件开发</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-khxq" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/khxq-bg.jpg" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">客户需求</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-cpzc" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/cpzc-bg.png" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">产品众筹</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 portfolio-item">
                <a href="#product-odmoem" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            点击查看更多
                        </div>
                    </div>
                    <img class="img-responsive" src="../img/Service/ProductPlatform/odmoem-bg.jpg" />

                </a>
                <div class="portfolio-caption">
                    <h4 class="customer-h4">ODM/OEM</h4>
                    <p class="customer-content-sm"></p>
                </div>
            </div>
        </div>
    </div>
</section>
<!--#region 产品平台-->
<!-- 众创项目-->
<div class="portfolio-modal modal fade" id="product-zzxm" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">众创空间项目</h2>
                        <p class="customer-content-sm">派美特618活动展会产品</p>


                    </div>
                </div>
            </div>
            <div class="row">
                <p class="customer-content-sm">
                    我们为创客、创业团队和中小微企业提供产品、工程、生产、供应链、市场营销、品牌、导师和资金等全资源要素服务，为创客、创业团队和中小微企业对接各个创业阶段急需的资源，弥补他们的不足，提供他们创业成功率
                </p>
            </div>
            <div class="row">
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/hotwatch.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            Hot Watch通过蓝牙与手机建立连接，用户可使用Hot Watch直接拨打电话，而无需从口袋或背包里拿出手机，配备了一块投射式多点触控屏，拥有加速计、陀螺仪并支持Bluetooth 4.0及第三方APP，该产品在Kickstarter众筹平台上共获得61.6万美金。

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> HOT WATCH</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/M6.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            这是我们精心为客户打造的一款精致、造型感强的床头智能”伴侣“，音箱顶置灯箱。采用蓝牙4.0双喇叭立体声音箱，内置电池4000mA聚合物锂电池，通过APP+蓝牙控制灯箱单色、多色循环变换效果，营造一种温馨柔和的格调。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> M6</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/nut.jpg" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            由2015年中美青年创客大赛一等奖得主“坚果健身”团队开发了一款可以轻易贴在杠铃、哑铃等运动器械上的智能贴片，并将该产品命名为“坚果健身“。这一智能贴片不仅可以记录器械运动的次数和组数，还能够通过一套独特的算法及时给出反馈，手机AP端上会显示评估健身者当前的体质状态，有效地帮助运动者设定健身计划。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 坚果健身</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/breath1.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            赛客易呼吸智能呼吸训练器是全球第一款便携式呼吸功能检测及呼吸训练一体化的智能硬件，是一款专业的医疗级电子医疗器械，可被广泛应用于医疗机构对慢性阻塞性肺疾病（COPD)、哮喘病患等进行呼吸功能检测、呼吸康复训练及监测；也对有氧运动如游泳、跑步、骑单车等进行辅助性呼吸功能改善锻炼，并提供量化数据测评；对于久坐办公室缺少运动处于亚健康的群体，本产品也可以帮助辅助呼吸锻炼，并提升运动机能。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 赛客易呼吸智能呼吸训练器</h4>
                </div>

                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/robot.jpg" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            手机机器人JOCO是一款协助实体店手机销售的智能服务机器人。JOCO直接将智能手机作为自己的大脑控制系统，具备语音问答、客户人脸追踪、个性互动推广等功能，可服务于手机门店、营销推广活动等场合，帮助吸引、引导客户，回答客户问题，促进手机销售，提升品牌形象。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 手机机器人</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/solidwriter.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            【书沙台】是创意科技装置团队“SeeekLab”所打造的的首款电子产品，主打“慢社交”的交互方式，配合app应用，把用户的书写笔迹转化为智能硬件设备的书写笔迹，在沙子上进行书写。书沙台给异地的情感交流，增加了一种新的沟通方式，以笔迹传心迹，见字如见人。
                                            书沙台也可以作为创意时钟、日历来使用。时间在沙子上被不断擦除和“书写”出来。

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 书沙台</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/pillow.jpg" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            厦门理工学院颜爱国教授研发了一款针对学生、旅客、白领使用的“午睡神器”，主要研究内容：（1）开发健康趴睡枕及其专用材料；（2）开发健康坐睡枕及其专用材料。着力于解决大部分群体午睡难的问题，推广健康的午睡方式并保护颈椎健康。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 午睡枕</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/moonlight.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            这是一套可编程的灯光秀，整套智能音响灯采用触控及手机APP控制，无线联动多个灯球，灯光同步音乐，营造出浪漫温馨的氛围，可在餐厅、卧室、户外等场所随意布置。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 悦亮灯</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/intell-jade.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            创始人Anna拥有广泛的中医养生理论基础，加之对中国传统的中医理论及传统文化有着非常深的情感，一直致力于研发一款传统文化和中医理论相结合的智能硬件产品。产品外形采用中国最古老的玉石，寓意吉祥如意。通过子午流注原理记录睡眠，随时监测肺腑功能，再辅助食疗、穴位按摩、锻炼等方式来改善人体的内循环。
                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 智能玉Mychi</h4>
                </div>
                <div class="col-is-6 col-sm-4 col-md-4 product-smallsection">
                    <a class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/photorobot.png" />
                        <div class="information-box-caption" style="background-color: rgba(128, 128, 128, 0.75)">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-xs whitefont">
                                            这是一款使用智能软件+红外线追踪+手持无线遥控技术全方位上下左右环绕追踪，不用任何指令就能自动判断您的状态而启动自拍的机器人；可制作个人专属绚丽写真集，与好友分享，神奇背景切换，让你身临其境。

                                        </p>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </a>
                    <h4 class="customer-h4"> 自拍机器人</h4>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">合作项目</h2>
                        <p class="customer-content-sm">暂无更新。。。</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 产学研用-->
<div class="portfolio-modal modal fade" id="product-cxyy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="customer-h2">暂无更新</h2>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 文化创意 -->
<div class="portfolio-modal modal fade" id="product-whcy" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">暂无更新</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- IDMD -->
<div class="portfolio-modal modal fade" id="product-idmd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">ID & MD</h2>
                        <div class="col-md-12 product-smallsection">
                            <img class="img-responsive" style="margin:0 auto;" src="~/img/Service/ProductPlatform/idmd-MH315.jpg" />
                        </div>
                        <div class="col-md-12 ">
                            <p class="customer-content-sm">
                                对客户提供的产品ID和结构设计，进行材料、工艺的优化，以简化工艺、降低成本、提供可制造性
                            </p>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 硬件设计 -->
<div class="portfolio-modal modal fade" id="product-yjsj" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">硬件设计</h2>
                        <ul class="text-left">
                            <li>
                                <span class="customer-content-sm">
                                    根据产品的需求，进行硬件的原理图设计，器件选型，堆叠设计，PCB板layout设计
                                </span>
                            </li>
                            <li>
                                <span class="customer-content-sm">
                                    对客户的硬件功能模块，进行产品硬件设计的优化
                                </span>
                            </li>

                        </ul>

                        <div id="product-yjsj-img" class="carousel slide">
                            <!-- 轮播（Carousel）指标 -->
                            <ol class="carousel-indicators">
                                <li data-target="#product-yjsj-img" data-slide-to="0" class="active" style="background-color:lightgray"></li>
                                <li data-target="#product-yjsj-img" data-slide-to="1" style="background-color:lightgray"></li>
                                <li data-target="#product-yjsj-img" data-slide-to="2" style="background-color:lightgray"></li>
                            </ol>
                            <!-- 轮播（Carousel）项目 -->
                            <div class="carousel-inner">
                                <div class="item active">
                                    <img class="img-responsive" style="margin:20px auto;" src="~/img/Service/ProductPlatform/09-喷雾仪 Padmate-MS-01.bmp">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" style="margin:20px auto;" src="~/img/Service/ProductPlatform/09-书沙台 P-M01.bmp">
                                </div>
                                <div class="item">
                                    <img class="img-responsive" style="margin:20px auto;" src="~/img/Service/ProductPlatform/09-智能雨伞 Padmate-SUN-01.bmp">
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 软件开发 -->
<div class="portfolio-modal modal fade" id="product-rjkf" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">软件开发</h2>

                        <div class="col-is-12 col-sm-4 col-md-4">
                            <img class="img-responsive" src="~/img/Service/ProductPlatform/rjkf.jpg">
                            <p class="customer-content-sm">
                            </p>
                        </div>
                        <div class="col-is-12 col-sm-8 col-md-8">
                            <ul class="text-left">
                                <li>
                                    <span class="customer-content-sm">
                                        <strong> 嵌入式软件开发：</strong><br />
                                        由资深嵌入式软件工程师组队，精通
                                    </span>
                                </li>
                                <li>
                                    <span class="customer-content-sm">
                                        1、MCU技术平台，如ST、pic、dialog、TI、csr、高通、ARM

                                    </span>
                                </li>
                                <li>
                                    <span class="customer-content-sm">
                                        2、linux平台和各种rtos
                                    </span>
                                </li>
                                <li>
                                    <span class="customer-content-sm">
                                        3、通讯技术，如蓝牙、ZigBee、Wifi等等
                                    </span>
                                </li>
                                <li>
                                    <span class="customer-content-sm">
                                        4、各类感应器使用
                                    </span>
                                </li>
                            </ul>
                            <ul class="text-left">
                                <li>
                                    <span class="customer-content-sm">
                                        <strong> 网站开发：</strong><br />
                                        为用户提供一站式的网站建设规划、策划、设计服务
                                    </span>
                                </li>
                            </ul>
                            <ul class="text-left">
                                <li>
                                    <span class="customer-content-sm">
                                        <strong> APP开发：</strong><br />
                                        承接各类移动终端APP开发，包括独立APP或与硬件通讯集成系统。
                                    </span>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 客户需求 -->
<div class="portfolio-modal modal fade" id="product-khxq" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">根据客户诉求进行产品及包装设计</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 产品众筹 -->
<div class="portfolio-modal modal fade" id="product-cpzc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">帮助项目进行国内国际产品众筹</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ODM/OEM -->
<div class="portfolio-modal modal fade" id="product-odmoem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">暂无更新</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion 产品平台-->

<script>

    $(function () {

    })

</script>