@{
    ViewBag.Title = "销售平台";
}
<!--销售平台-->
<section id="services-sellplatform">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">销售平台</h3>
                <span class="customer-content-sm"> 整合、利用传统渠道、有行业影响力的客户、国内电商、跨境电商、B2B、B2C等进行销售</span>
            </div>
        </div>
        <div class="row" style="margin-top:30px;">
            <div class="col-md-12 service-section-halfcolumn wow slideInRight">
                <ul class="nav nav-tabs" id="sellplatformTab">
                    <li><a href="#sellplatform-ctqd"><strong class="customer-content-sm">传统渠道</strong></a></li>
                    <li><a href="#sellplatform-gnds"><strong class="customer-content-sm">国内电商</strong></a></li>
                    <li class="active"><a href="#sellplatform-kjds"><strong class="customer-content-sm">跨境电商</strong></a></li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane" id="sellplatform-ctqd">
                        <div class="row">
                            <div class="col-xs-12 col-is-12 col-sm-12 col-md-12">
                                <div class="picScroll-left">
                                    <div class="hd">
                                        <a class="next"></a>
                                        <ul></ul>
                                        <a class="prev"></a>
                                        <span class="pageState"></span>
                                    </div>
                                    <div class="bd">
                                        <ul class="picList">
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/零号门/lhm-small1.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/零号门/lhm-small2.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/零号门/lhm-small3.jpg">

                                            </li>

                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/龙翔/lx-small1.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/龙翔/lx-small2.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/龙翔/lx-small3.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/美承/mc-small1.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/美承/mc-small2.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/爪蛙卡卡/zwkk-small1.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/爪蛙卡卡/zwkk-small2.jpg">

                                            </li>
                                            <li>
                                                <img class="img-responsive"
                                                     src="../img/Service/SellPlatform/爪蛙卡卡/zwkk-small3.jpg">

                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                
                            </div>
                        </div>


                    </div>
                    <div class="tab-pane" id="sellplatform-gnds">
                        <div class="row" style="margin-right:30px;">
                            <div class="row" style="margin-right:30px;">
                                <div class="col-is-6 col-sm-4 col-md-2 col-md-offset-1">
                                    <a href="https://shop149606032.taobao.com/" target="_blank">
                                        <img class="img-responsive" src="../img/Service/SellPlatform/tb_logo.png">

                                    </a>
                                </div>
                                <div class="col-is-6 col-sm-4 col-md-2 col-md-offset-1">
                                    <a href="https://padmate.tmall.com/" target="_blank">
                                        <img class="img-responsive" src="../img/Service/SellPlatform/tm_logo.png">

                                    </a>
                                </div>
                                <div class="col-is-6 col-sm-4 col-md-2 col-md-offset-1">
                                    <a href="http://padmate.jd.com/" target="_blank">
                                        <img class="img-responsive" src="../img/Service/SellPlatform/jd_logo.png">

                                    </a>
                                </div>

                            </div>
                        </div>
                        <p class="customer-content-sm">作为公司立体化、全渠道销售战略的重要一环，我们积极建立、打通、拓展电子商务领域的流通渠道。目前分别在天猫、京东和淘宝开设了品牌旗舰店，同时也和部分平台的众筹渠道有着深度良好的商务合作关系。在深耕已有平台的经营之外，我们也将积极开拓其他重点平台上的入驻合作。</p>

                    </div>
                    <div class="tab-pane active" id="sellplatform-kjds">
                        <div class="row" style="margin-right:30px;">
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/alibaba.jpg" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/Amazon.png" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/CES-Asia-logo.jpg" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/CES-Logo.jpg" />

                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-right:30px;">
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/chinasourcingfair_Logo.jpg" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/hsn.jpg" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/Indiegogo_logo.png" />

                                </a>
                            </div>
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/kickstarter-logo-20010.png" />

                                </a>
                            </div>
                        </div>
                        <div class="row" style="margin-right:30px;">
                            <div class="col-xs-6 col-is-4 col-sm-3 col-md-2 col-md-offset-1">
                                <a href="javaScript:void(0)">
                                    <img class="img-responsive" src="../img/Service/SellPlatform/qvc-logo.jpg" />

                                </a>
                            </div>

                        </div>
                        <p>
                        <p class="customer-content-sm">
                            通过多年的国际主流消费电子展会推广、行业网站开发、国际媒体发布以及全球众筹平台战略合作等，国际销售部整合了1000+优质客户资源渠道，包括跨国零售商、品牌商、分销商、跨境电商、机场免税店和知名进口商等，他们遍布在北美，欧盟，英国，大洋洲，日本，韩国，中东等区域，行业涵盖了个人消费电子产品，创新类消费电子产品，手机和电脑周边配件产品以及智能产品等。对于每一款产品，我们均会安排对应的行业渠道推广，并充分向客户讲解产品的背景和市场需求，对产品的需求进行二次挖掘！
                        </p>
                        </p>
                        <p><span class="customer-content-sm">产品主要合作、推广渠道：</span></p>
                        <ul>

                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;全球最大的消费电子展CES和CES Asia</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;全球最大的手机和配件电子展会 香港环球资源采购交易会（CSF）</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;全球最大的电子商务B2B Alibaba</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;全球最大的消费电子产品B2C平台 Amazon</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;全球TOP3众创平台INDIEGOGO和KICKSTARTERS</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;北美最大的电视购物渠道HSN和QVC</span></li>
                            <li><span class="customer-content-sm">&nbsp;&nbsp;&nbsp;&nbsp;国际品牌商</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<script>

    $(function () {
        InitTabPanel();
        InitSuperSlider();
    })

    //初始化可切换Tab面板
    function InitTabPanel() {
        //region 初始化Tab
        $('#sellplatformTab a:first').tab('show');//初始化显示哪个tab
        $('#sellplatformTab a').click(function (e) {
            e.preventDefault();//阻止a链接的跳转行为
            $(this).tab('show');//显示当前选中的链接及关联的content
            

        });
        // #endregion
    }

    //初始化一行多图轮播
    function InitSuperSlider() {
        /* 图片滚动效果 */
        $(".picScroll-left").slide({
            titCell: ".hd ul",
            mainCell: ".bd ul",
            autoPage: true,
            effect: "left",
            autoPlay: true,
            vis: 3,
            trigger: "click"
        });
    }
</script>