<!--供应链管理-->
<section id="services-supplymanagement" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">供应链管理</h3>
                <span class="customer-content-sm"> &nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-3 wow slideInLeft">
                <img class="image-smallsize" src="../img/Service/SupplyManagement/ccwl1.jpg" />
                <h4 class="customer-h4">仓储物流</h4>
                <p class="customer-content-sm">产品仓储、物流</p>
            </div>
            <div class="col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-3 wow slideInLeft">
                <img class="image-smallsize" src="../img/Service/SupplyManagement/ffps-bg.png" />
                <h4 class="customer-h4">分发配送</h4>
                <p class="customer-content-sm">产品分发配送</p>
            </div>
            <div class="col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-3 wow slideInRight">
                <img class="image-smallsize" src="../img/Service/SupplyManagement/cgwf-bg.jpg" />
                <h4 class="customer-h4">采购外发</h4>
                <span class="customer-content-sm">承接开发产品所需物料、器件采购</span>
                <p class="customer-content-sm">
                    承接开发产品零部件加工制造
                </p>
            </div>
            <div class="col-xs-12 col-is-6 col-sm-6 col-md-4 col-lg-3 wow slideInRight">
                <img class="image-smallsize" src="../img/Service/SupplyManagement/jygl-bg.jpg" />
                <h4 class="customer-h4">精益管理</h4>
                <p class="customer-content-sm">整合供应链、流程再造、ERP等</p>
            </div>

        </div>
    </div>
</section>

<script>

    $(function () {

    })

</script>