<!--导师平台-->
<section id="services-tutorplatform">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">导师平台</h3>
                <span class="customer-content-sm"> &nbsp;</span>
            </div>
        </div>
        <div class="slider responsive row">
            <div>
                <div class="team-member" style="margin:50px 80px;margin-bottom:0px;">
                    <img src="~/img/team/lidawei.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="customer-h4">李大维</h4>
                </div>
                <div class="team-member" style="margin:10px 30px;">
                    <p class="customer-content-sm">中国创客文化教父，中国第一家创客空间--上海新车间联合创始人。“新车间”也是一个融资和管理平台，来支持人们实施自己的作品和项目</p>

                </div>

            </div>
            <div>
                <div class="team-member" style="margin: 50px 80px; margin-bottom: 0px;">
                    <img src="~/img/team/gl.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="customer-h4">高 磊</h4>

                </div>
                <div class="team-member" style="margin:10px 30px;">
                    <p class="customer-content-sm">新我Betwine创始人，2014年推出融合养成游戏产品“新我Betwine”与小米电视、极路由、乐视TV一同入选年度最受关注硬件奖</p>

                </div>
            </div>
            <div>
                <div class="team-member" style="margin: 50px 80px; margin-bottom: 0px;">
                    <img src="~/img/team/zzx.jpg" class="img-responsive img-circle" alt="">
                    <h4 class="customer-h4">张政雄</h4>

                </div>
                <div class="team-member" style="margin:10px 30px;">
                    <p class="customer-content-sm">张政雄，台湾人 ，前富士康高管、职业经理人， 多年从事海峡两岸创客活动， 创客资深导师 </p>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="panel-group" id="accordion" style="padding-top:50px;">
                <div class="panel wow slideInLeft">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
                            <h4 class="customer-h4">
                                <i class="fa fa-fast-forward" aria-hidden="true"></i>
                                战略规划
                            </h4>
                        </a>
                    </div>
                    <div id="collapseFive" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-is-6 col-sm-7 col-md-7">
                                <img class="image-auto" width="580" src="../img/Service/TutorPlatform/zlgh.jpg" />

                            </div>
                            <div class="col-is-6 col-md-5 col-sm-5">
                                <span class="customer-content-sm">
                                    创新创业战略规划包括总体战略、使命愿景、战略目标设定、战略计划、组织架构、业务选择、经营范围、资源和能力分析SWOT、商业模式及发展战略、保障机制、可行性方案等
                                </span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="panel wow slideInLeft">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                            <h4 class="customer-h4">
                                <i class="fa fa-fighter-jet" aria-hidden="true"></i>
                                企业教练

                            </h4>
                        </a>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="customer-content-sm">提供教练式管理、辅导</span>

                        </div>
                    </div>
                </div>
                <div class="panel wow slideInLeft">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                            <h4 class="customer-h4">
                                <i class="fa fa-info-circle" aria-hidden="true"></i>
                                顾问培训

                            </h4>
                        </a>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <ul>
                                <li><span class="customer-content-sm">提供产品相关的外观、新型实用、发明专利规划的咨询辅导工作</span></li>
                                <li><span class="customer-content-sm">提供项目可行性，运作管理、品质、交期、成本、风险管控等方面工作的咨询辅导</span></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel wow slideInLeft">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseThree">
                            <h4 class="customer-h4">
                                <i class="fa fa-share" aria-hidden="true"></i>
                                协 会

                            </h4>
                        </a>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="col-is-6 col-sm-4 col-md-4">

                                <img class="image-smallsize" src="../img/Service/TutorPlatform/厦门市众创空间产业协会.jpg" />

                            </div>
                            <div class="col-is-6 col-md-4 col-sm-4">
                                <img class="image-smallsize" src="../img/Service/TutorPlatform/硅谷高创会.png" />

                            </div>
                            <div class="col-is-6 col-md-4 col-sm-4">
                                <img class="image-smallsize" src="../img/Service/TutorPlatform/11gy_head.jpg" />

                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel wow slideInLeft">
                    <div class="panel-heading">
                        <a data-toggle="collapse" data-parent="#accordion"
                           href="#collapseFour">
                            <h4 class="customer-h4">
                                <i class="fa fa-users" aria-hidden="true"></i>
                                人力资源开发

                            </h4>
                        </a>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <span class="customer-content-sm">暂无更新</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>


<script>

    $(function () {

        InitCollapse();
        InitSlick();
    })

    //初始化收缩面板
    function InitCollapse() {
        $('#collapseTwo').collapse('show');
        $('#collapseThree').collapse('show');
        $('#collapseOne').collapse('show');
        $('#collapseFour').collapse('show');
        $('#collapseFive').collapse('show');
    }

    //初始化旋转效果
    function InitSlick() {
        $('.responsive').slick({
            dots: true,
            infinite: false,
            speed: 100,
            slidesToShow: 3,
            slidesToScroll: 3,
            responsive: [
                {
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3,
                        infinite: true,
                        dots: true
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 2
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }
            ]
        });


    }
</script>