@{
    ViewBag.Title = "角色管理";
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SystemManageLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">

                <div id="toolbar">
                    <button id="btnAdd" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>新 增
                    </button>
                    <button id="btnEdit" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>修 改
                    </button>
                    <button id="btnDelete" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> 删 除
                    </button>
                </div>
                <table id="table"></table>

            </div>
        </div>


    </div>
</section>

<!--#region新增-->
<div class="curd-model modal fade" id="roleadd" role="dialog"
     data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog mediu-modal">
        <div class="modal-content mediu-modal-content">
            <div id="divAddContainer"></div>
        </div>
    </div>

</div>

<!--#endregion 修改-->
<!--#region修改-->
<div class="curd-model modal fade" id="roleedit" role="dialog"
     data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog mediu-modal">
        <div class="modal-content mediu-modal-content">
            <div id="divEditContainer"></div>
        </div>
    </div>

</div>

<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">

    var dicRoles = $.parseJSON('@Html.Raw(ViewData["Roles"])');

    //bootstrap filter 选择项
    var RoleNameTableSelect = {};
    for (var i = 0; i < dicRoles.length; i++) {
        RoleNameTableSelect[dicRoles[i].Key] = dicRoles[i].Value;

    }

    $(document).ready(function () {
        InitTable();
        InitToolBarButton();
        InitModalEvent();
    });
    function InitTable()
    {
        $('#table').bootstrapTable({
            height:500,
            method: 'post',                 //The method type to request remote data.
            url: '/User/Role/GetPageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType:'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber:1,                   //初始化在第几页
            pageList: [10,25,50,100,200,'All'],
            sidePagination: "server",       //服务端请求
            idField:'Id',
            toolbar:'#toolbar',
            showRefresh:true,
            search: false,
            clickToSelect: true,     //单击行选中数据
            queryParams: ConstructQueryParams,
            showColumns: true,
            showToggle: true,
            showExport: true, //数据导出
            exportDataType: 'basic', // 'basic', 'all', 'selected'.
            exportTypes: ['excel'],
            filterControl: true,   //显示过滤
            filterShowClear: true,  //显示清空过滤按钮
            locale:'zh-CN',
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible:false,
            },
            {
                field: 'Name',
                title: '角色名称',
                filterControl: 'select',
                filterData: 'var:RoleNameTableSelect',
                formatter: function (value, row, index) {

                    return DicRoles(value);;
                },

            }
            ]
        });
    }
    function ConstructQueryParams(param)
    {
        var filterObj = {};
        if (param.filter != null) {
            filterObj = JSON.parse(param.filter);
        }

        var params = {
            limit: param.limit, //页面大小
            offset:param.offset,//偏移数量
            page: param.offset / param.limit, //页码
            Name: filterObj.Name == null ? "" : filterObj.Name,
        };
        return params;
    }

    function InitModalEvent() {
        $('#roleadd').on('show.bs.modal', function () {
            //打开事件
        });

        $('#roleadd').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAddContainer").html("");

        })

        $('#roleedit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#roleedit').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divEditContainer").html("");

        })
    }

    function CloseAddScreen() {
        $('#roleadd').modal('hide');

    }
    function CloseEditScreen() {
        $('#roleedit').modal('hide');

    }

    function InitToolBarButton()
    {

        $("#btnAdd").click(function(){
            $('#roleadd').modal('show');
            $("#divAddContainer").load("/User/Role/Add");
        });

        $("#btnEdit").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要修改的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1)
            {
                layer.alert("只能选择一条数据进行修改", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#roleedit').modal('show');
            $("#divEditContainer").load("/User/Role/Edit?roleId=" + id);

        });

        $("#btnDelete").click(function(){
            var selections = $('#table').bootstrapTable('getSelections');
            if(selections.length == 0)
            {
                layer.alert("请选择要将要删除的数据", {
                    skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                });
                return ;
            }
            var contactIds =[];
            for(var i=0;i<selections.length;i++)
            {
                var id = selections[i].Id;
                contactIds.push(id);
            }
            //delete records
            var jsonRoleId = JSON.stringify(contactIds);
            $.ajax({
                type: "post",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/User/Role/BachDeleteById",
                data: jsonRoleId,
                async:false,
                success: function(message){
                    if(message.Success)
                    {
                        RefreshTable();
                    }else{
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                        });
                    }

                }
            });
        });
    }

    function RefreshTable()
    {
        $('#table').bootstrapTable('refresh');

    }

    function DicRoles(key) {
        var result = key;
        for (var i = 0; i < dicRoles.length; i++) {
            if (key == dicRoles[i].Key) {
                result = dicRoles[i].Value;
            }
        }
        return result;
    }
</script>    