@using Padmate.ServicePlatform.Utility;
@{
    ViewBag.Title = "众创项目|产品平台";
}

<style>
    .ProjectPicture{
        width:100px;
        height:auto;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SystemManageLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">

                <div id="toolbar">
                    <button id="btnAdd" class="btn btn-primary">
                        <i class="glyphicon glyphicon-plus"></i>新 增
                    </button>
                    <button id="btnEdit" class="btn btn-success">
                        <i class="glyphicon glyphicon-plus"></i>修 改
                    </button>
                    <button id="btnDelete" class="btn btn-danger">
                        <i class="glyphicon glyphicon-remove"></i> 删 除
                    </button>
                    <button id="btnAttachment" class="btn btn-default">
                        <i class="glyphicon glyphicon-file"></i> 附件管理
                    </button>
                </div>
                <table id="table"></table>

            </div>
        </div>


    </div>
</section>

<!--#region新增-->
<div class="curd-model modal fade" id="zzprojectadd" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAddContainer"></div>


        </div>
    </div>
</div>
<!--#endregion 修改-->
<!--#region修改-->
<div class="curd-model modal fade" id="zzprojectedit" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divEditContainer"></div>


        </div>
    </div>
</div>
<!--#region详细-->
<div class="curd-model modal fade" id="zzprojectdetail"  role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divDetailContainer"></div>


        </div>
    </div>
</div>
<!--#region添加附件-->
<div class="curd-model modal fade" id="zzprojectattachment" role="dialog"
     data-backdrop="static" aria-hidden="true">
    <div class="modal-dialog mediu-modal">
        <div class="modal-content mediu-modal-content">
            <div id="divAttachmentContainer"></div>
        </div>
    </div>

</div>


<!--Script要放在HTML标签后，才能将值绑定到标签-->
<script type="text/javascript">


    $(document).ready(function () {
        InitTable();
        InitToolBarButton();
        InitModalEvent();
    });
    function InitTable()
    {
        $('#table').bootstrapTable({
            height:1000,
            method: 'post',                 //The method type to request remote data.
            url: '/Service/Project/GetPageData',
            dataType: "json",               //The type of data that you are expecting back from the server.
            contentType:'application/json',
            pagination: true,               //True to show a pagination toolbar on table bottom.
            pageSize: 10,                   //初始化每页显示几条
            pageNumber:1,                   //初始化在第几页
            pageList: [10,25,50,100,200,'All'],
            sidePagination: "server",       //服务端请求
            idField:'Id',
            toolbar:'#toolbar',
            showRefresh:true,
            search:true,
            queryParams: ConstructQueryParams,
            //queryParamsType: "limit",
            locale:'en-US',
            columns: [{
                checkbox: true
            },
            {
                field: 'Id',
                title: 'Id',
                visible:false,
            },
            {
                field: 'Image',
                title: '项目图标',
                formatter: function (value, row, index) {

                    var image = row.Image;
                    if (image != null) {

                        var imgHtml = "<img class='img-responsive' src=" + image.VirtualPath + "></img>";
                        return imgHtml;
                    }
                },
                width: '20%'

            },
            {
                field: 'Name',
                title: '项目名称',
                sortable: true

            },
            {
                field: 'Description',
                title: '产品介绍',
                width: '25%',
                formatter: function (value, row, index) {

                    var result = row.Description;
                    if (result.length > 50) {
                        result = '<a class="custooltip" href="#">' + result.substr(0, 50) + '......<span class="classic">' + row.Description + '</span></a>';

                    }


                    return result;
                }

            },
            {
                field: 'Content',
                title: '项目内容',
                formatter: function (value, row, index) {
                    var result = '<a href="javaScript:void(0)" onclick="Detail(&apos;' + row.Id + '&apos;)">点击查看</a>';
                    return result;
                },
                align:'center'

            },
            {
                field: 'Type',
                title: '项目类型'

            },
            {
                field: '',
                title: '附件数量',
                formatter: function (value, row, index) {
                    var result = row.ProjectDownloads.length;
                    if (result > 0)
                    {
                        return "<label style='color:red;'>"+result+"</label>";
                    }
                    return result;
                },
                width: '5%',
                align: 'center'
            },
            {
                field: 'Sequence',
                title: '排列顺序',
                sortable: true,
                width: '5%',
                align: 'center'
            }
            ]
        });
    }
    function ConstructQueryParams(param)
    {
        var params = {
            limit: param.limit, //页面大小
            offset:param.offset,//偏移数量
            page: param.offset / param.limit, //页码
            Name:param.search
        };
        return params;
    }

    function InitModalEvent() {
        $('#zzprojectadd').on('show.bs.modal', function () {
            //打开事件
        });

        $('#zzprojectadd').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAddContainer").html("");

        })

        $('#zzprojectedit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#zzprojectedit').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divEditContainer").html("");

        })
        $('#zzprojectdetail').on('show.bs.modal', function () {
            //打开事件
        });

        $('#zzprojectdetail').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divDetailContainer").html("");

        });
        $('#zzprojectattachment').on('show.bs.modal', function () {
            //打开事件
        });

        $('#zzprojectattachment').on('hide.bs.modal', function () {
            // 关闭事件
            $("#divAttachmentContainer").html("");

        })
    }

    function CloseAddScreen() {
        $('#zzprojectadd').modal('hide');

    }
    function CloseEditScreen() {
        $('#zzprojectedit').modal('hide');

    }

    function InitToolBarButton()
    {

        $("#btnAdd").click(function(){
            $('#zzprojectadd').modal('show');
            $("#divAddContainer").load("/Service/Project/Add");
        });

        $("#btnEdit").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要将要修改的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1)
            {
                layer.alert("只能选择一条数据进行修改", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#zzprojectedit').modal('show');
            $("#divEditContainer").load("/Service/Project/Edit?projectId=" + id);

        });

        $("#btnAttachment").click(function () {

            var selections = $('#table').bootstrapTable('getSelections');
            if (selections.length == 0) {
                layer.alert("请选择要管理附件的数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            } else if (selections.length != 1) {
                layer.alert("只能选择一条数据", {
                    skin: 'layui-layer-molv'
                            , closeBtn: 0
                            , shift: 5 //动画类型
                });
                return;
            }

            var id = selections[0].Id;
            $('#zzprojectattachment').modal('show');
            $("#divAttachmentContainer").load("/Service/Project/Attachment?projectId=" + id);
        });

        $("#btnDelete").click(function(){
            var selections = $('#table').bootstrapTable('getSelections');
            if(selections.length == 0)
            {
                layer.alert("请选择要将要删除的数据", {
                    skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                });
                return ;
            }
            var contactIds =[];
            for(var i=0;i<selections.length;i++)
            {
                var id = selections[i].Id;
                contactIds.push(id);
            }
            //delete records
            var jsonProjectId = JSON.stringify(contactIds);
            $.ajax({
                type: "post",//使用get方法访问后台
                dataType: "json",//返回json格式的数据
                url: "/Service/Project/BachDeleteById",
                data: jsonProjectId,
                async:false,
                success: function(message){
                    if(message.Success)
                    {
                        RefreshTable();
                    }else{
                        layer.alert(message.Content, {
                            skin: 'layui-layer-molv'
                            ,closeBtn: 0
                            ,shift: 5 //动画类型
                        });
                    }

                }
            });
        });
    }

    function Detail(id)
    {
        $('#zzprojectdetail').modal('show');
        $("#divDetailContainer").load("/Service/Project/Detail?id=" + id);
    }

    function RefreshTable()
    {
        $('#table').bootstrapTable('refresh');

    }
</script>    