@using System.Configuration;
@{
    var urlRewriteExtension = ConfigurationManager.AppSettings["UrlRewriteExtension"];
    var currentHref = "/service/product/" + ViewBag.Current + urlRewriteExtension;
}
<h3>
    <a class="customer-content-xs" href="/">首页</a> »
    <a class="customer-content-xs" href="@string.Format("/service{0}",urlRewriteExtension)">服务</a> »
    <a class="customer-content-xs" href="@string.Format("/service/product{0}",urlRewriteExtension)">产品平台</a> »
    <a class="customer-content-xs" href="@currentHref">@ViewBag.Title</a>

</h3>