.no-gutter > [class*=col-] {
    padding-right: 0;
    padding-left: 0;
}
.information-box *{z-index:2}
.information-box {
    display: block;
    position: relative;
    margin: 0 auto;
}
.information-box .information-box-caption {
    display: block;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    opacity:0;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=0)
    progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2858585,endColorstr=#B2858585); /*IE8*/
    background: rgba(85, 85, 85, 0.69);
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    transition: all .35s;
}
.information-box .information-box-caption .information-box-caption-content {
    position: absolute;
    top: 0;
    width: 100%;
    height:100%;
    text-align: center;
}

.information-box .information-box-caption .information-box-caption-content .project-category,
.information-box .information-box-caption .information-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
}

.information-box .information-box-caption .information-box-caption-content .project-category {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

.information-box .information-box-caption .information-box-caption-content .project-name {
    font-size: 18px;
}

.information-box:hover .information-box-caption {
    opacity:1;
    filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70)
    progid:DXImageTransform.Microsoft.gradient(startColorstr=#B2858585,endColorstr=#B2858585); /*IE8*/
}
div.divmiddle-box { display: table; width:100%;height:100%; }
div.divmiddle-box-content { display: table-cell; vertical-align: middle; }

@media(min-width:768px) {
    .information-box .information-box-caption .information-box-caption-content .project-category {
        font-size: 16px;
    }

    .information-box .information-box-caption .information-box-caption-content .project-name {
        font-size: 22px;
    }
}

.shop {
    position: relative;
    max-width: 100%;
    height: 0;
    padding-bottom:45%;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    color: #fff;
    background-image: url(../img/header.jpg);
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.shop .shop-content {
    position: relative;
    width: 100%;
    padding: 5% 15px;
    text-align: center;
}

.shop .shop-content .shop-content-inner h1 {
    margin-top: 0;
    margin-bottom: 0;
    text-transform: uppercase;
    font-weight: 700;
}

.shop .shop-content .shop-content-inner hr {
    margin: 2% auto;
}

shop .shop-content .shop-content-inner p {
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: 300;
    color: rgba(255,255,255,.7);
}
.shop-content-inner>hr {
    max-width: 50px;
    border-color: #f05f40;
    border-width: 3px;
}

shop-content-inner>hr.light {
    border-color: #fff;
}