@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;
@{
    var _articleType = ViewBag.ArticleType;
    var _articleTypeDes = Common.Dic_ArticleType[_articleType];
}
<style>
    .inputS {
        width: 50%;
        max-width: 50%;
        line-height: 35px;
        height: 35px;
    }

    .textareaS {
        height: 150px;
        width: 50%;
        max-width: 50%;
    }
</style>

<!--#region修改-->
<div class="curd-model modal fade" id="articleedit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div class="close-modal" data-dismiss="modal">
                <i class="fa fa-3x fa-close"></i>
            </div>
            <div class="container">

                <h3 class="customer-h3 text-center" id="editTitle"></h3>
                <hr />
                <div class="form-horizontal">
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">一级标题：</label>
                        </div>
                        <div class="col-md-10">
                            <input class="inputS" id="tbTitle" placeholder="一级标题" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">二级标题：</label>
                        </div>
                        <div class="col-md-10">
                            <input class="inputS" id="tbSubTitle" placeholder="二级标题" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">文章描述：</label>
                        </div>
                        <div class="col-md-10">
                            <textarea class="textareaS" id="taDescription"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">文章图片：</label>
                        </div>
                        <div class="col-md-10">
                            <input type="file" id="thumbnails" name="thumbnails" accept=".jpg,.png,.jpeg,.gif" />
                        </div>
                        <div class="col-lg-4 col-md-6" style="margin-top:10px;">
                            @if (!string.IsNullOrEmpty(_articleType) && _articleType == Common.Information)
                            {
                                <img class="image-mediumsize" id="showUploadImage" src="~/img/medium_model.jpg" alt="无图标" />
                            }
                            else
                            {
                                <img class="image-smallsize" id="showUploadImage" src="~/img/small_model.jpg" alt="无图标" />
                            }
                        </div>

                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">发布时间：</label>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group date form_datetime" data-date=""
                                 data-date-format="yyyy-mm-dd hh:ii:ss" data-link-field="PubTime">
                                <input class="form-control" size="16" type="text" value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")" readonly>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            <input type="hidden" id="tbPubTime" name="PubTime" value="@DateTime.Now.ToString("yyyy-MM-dd hh:mm:ss")" /><br />
                        </div>


                    </div>
                    <div class="form-group">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">是否链接：</label>
                        </div>
                        <div class="col-md-10">
                            <input type="radio" value="true" name="IsHref" /><label>是</label>
                            <input type="radio" value="false" checked="checked" name="IsHref" style="margin-left:50px;" /><label>否</label>

                        </div>
                    </div>
                    <div class="form-group" id="divArticleHref" style="display:none;">
                        <div class="col-md-2 control-label">
                            <label class="customer-content-sm">文章链接：</label>
                        </div>
                        <div class="col-md-10">
                           <input class="inputS" id="tbHref" placeholder="文章链接"/>
                        </div>
                    </div>

                    <div class="form-group" id="divArticleContent">
                        <div class="col-md-12">
                            <div class="checkbox">
                                <textarea id="taContent" name="Content"></textarea>
                            </div>
                        </div>
                        <div style="clear:both"></div>
                    </div>
                </div>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-info"
                        data-dismiss="modal">
                    退 出
                </button>
                <button type="button" class="btn btn-danger" id="btnSave">
                    保 存
                </button>
            </div>
        </div>
    </div>
</div>
<!--#endregion 修改-->

<script src="~/ckfinder/ckfinder.js"></script>
<script src="~/ckeditor/ckeditor.js"></script>
<script>
    var editor = CKEDITOR.instances["taContent"];
    if (editor) { editor.distory(true); }
    CKEDITOR.replace("taContent", {
        enterMode: CKEDITOR.ENTER_BR
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');

    $(document).ready(function () {
        $('.form_datetime').datetimepicker({
            //language:  'fr',
            weekStart: 1,
            todayBtn: 1,
            autoclose: 1,
            todayHighlight: 1,
            startView: 2,
            forceParse: 0,
            showMeridian: 1,
            language: 'zh-CN'
        });

        $("#thumbnails").change(function (e) {
            setImagePreview();

        });

        //文章是否链接事件
        $("[name='IsHref']").change(function () {
            var isHref = $("input[name='IsHref']:checked").val();

            $("#divArticleHref").toggle();
            $("#divArticleContent").toggle();

            if (isHref == "true") {
                //如果是链接，则隐藏并且清空内容编辑框,显示Href输入框
                CKEDITOR.instances.Content.setData("");

            } else {
                //如果不是链接，则隐藏并且清空Href输入框,显示内容编辑框
                $("#Href").val(" ");
            }
        });
    });

    //下面用于图片上传预览功能
    function setImagePreview() {
        var docObj = document.getElementById("thumbnails");
        var imgSrc = "";
        if (docObj.files && docObj.files[0]) {

            //火狐7以上版本不能用上面的getAsDataURL()方式获取，需要一下方式
            imgSrc = window.URL.createObjectURL(docObj.files[0]);
        }
        else {
            //IE下，使用滤镜
            docObj.select();
            imgSrc = document.selection.createRange().text;

        }
        $("#showUploadImage").attr('src', imgSrc);
    }

</script>