@{
    var _articleType = ViewBag.ArticleType;
    var _articleTypeDes = Common.Dic_ArticleType[_articleType];
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;

<style>
    .search-section {
        background-color: #fff;
        border: solid 1px lightgray;
        -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
        -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
        box-shadow: 0 -1px 10px rgba(0,0,0,.5);
    }
    .search-result{
        padding:5px 0px;
    }
    .searchButton {
        width: 12%;
    }

    .searchInput {
        display: inline-block;
        width: 90%;
        max-width: none;
        border: none;
    }
    
    .pageBar {
        text-align: center;
    }

    .articleBody {
        min-height: 400px;
        margin-top:20px;
    }

    .article-row {
        background-color: #fff;
        border: solid 1px lightgray;
        -webkit-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
        -moz-box-shadow: 0 -1px 10px rgba(0,0,0,.5);
        box-shadow: 0 -1px 10px rgba(0,0,0,.5);
        margin:20px 0px;
        margin-top: 0px;
        padding: 10px 0px;
    }

    .articleBtn {
        margin: 0 10px;
    }

    .article-right {
        background-color: #fff;
        border: solid 1px lightgray;
        margin: 20px 0px;
    }

    .articlebg {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../img/Activity/activitybg.jpg");
    }
    .curd-model .modal-content{
        min-height:100%;
    }
    .curd-model .close-modal{
        position:fixed;
        width:75px;
        height:75px;
        background-color:transparent;
        top:25px;
        right:25px;
        cursor:pointer
    }
    .inputS {
        width: 50%;
        max-width: 50%;
        line-height: 35px;
        height: 35px;
    }

    .textareaS {
        height: 150px;
        width: 50%;
        max-width: 50%;
    }
</style>

<div>
    <div class="row">
        <div class="col-is-4 col-sm-4 col-md-4">
            <a class="btn btn-lg btn-warning" onclick="OpenAddScreen()">发布@_articleTypeDes</a>
        </div>
        <div class="col-is-8 col-sm-8 col-md-8">
            <fieldset class="search-section">
                <input type="text" class="form-control input-lg searchInput" placeholder="Search Titles">
                <a href="#javaScript:void(0)" class="searchButton"><i class="fa fa-search fa-2x text-info"></i></a>

            </fieldset>
        </div>
    </div>
    
    
    <div class="row articleBody">
        <div class="col-is-12 col-sm-12 col-md-12">
            <div class="text-right customer-content-sm search-result" id="result"></div>

            <div id="content"></div>
            <div class="pageBar">
                <ul id="paginator"></ul>
            </div>
        </div>

    </div>

    

</div>

<!--#region新增-->
<div class="curd-model modal fade" id="articleadd" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">

            <div id="divAddContainer"></div>


        </div>
    </div>
</div>
<!--#endregion 修改-->

<!--#region修改-->
<div class="curd-model modal fade" id="articleedit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            
            <div id="divEditContainer"></div>
            
            
        </div>
    </div>
</div>
<!--#endregion 修改-->

<script>

    
    var articleType = '@_articleType';
    $(function () {

        //初始化分页数据
        InitPaging();

        //查询按钮事件
        $(".searchButton").click(function (e) {

            InitPaging();
        });
        $('.searchInput').bind('keypress', function (event) {
            if (event.keyCode == "13") {
                InitPaging();
            }
        });


        $(window).resize(SetRightHeight);

    })

    //设置右边div高度与左边一致
    function SetRightHeight() {
        var divHeight = $('#left').height();
        $('#right').css({ 'height': divHeight / 2 });
    }

    function InitPaging() {
        //获取总页数,总条数及第一页数据
        var firstResult = GetPageData(1);
        //加载第一页数据
        RenderPageData(firstResult.data);

        //重置分页条
        ResetPaginator();
        //超过一页才显示分页
        if (firstResult.totalPages > 1) {
            InitPaginator(firstResult.totalPages);
        }

        //重新设置右边div高度
        SetRightHeight();
    }
    //重置分页条
    function ResetPaginator() {
        $("#paginator").html("");

    }
    //配置分页属性
    function InitPaginator(totalPages) {
        //重置分页条

        var options = {
            size: 'large',            //指定分页条的大小
            bootstrapMajorVersion: 3,  //指定bootstrap版本，为v3，则容器必须为ul;如果版本为v2，则容器必须为div
            numberOfPages: 10,         //设置可选分页按钮个数，默认5
            currentPage: 1,          //当前页
            totalPages: totalPages,         //总页数（从服务端获取）
            onPageClicked: function (e, originalEvent, type, page) {
                //获取分页数据
                var result = GetPageData(page);
                //渲染当前页数据
                RenderPageData(result.data);
            },
            itemTexts: function (type, page, current) {
                switch (type) {
                    case "first":
                        return "第一页";
                    case "prev":
                        return "前一页";
                    case "next":
                        return "下一页";
                    case "last":
                        return "最后一页";
                    case "page":
                        return page;
                }
            }
        }

        $("#paginator").bootstrapPaginator(options);
    }
    //获取分页数据
    function GetPageData(currentPage) {

        var resultData = {
            totalPages: 0,
            data: null
        };

        var params = {
            "ArticleType": articleType,
            "SubTitle": $(".searchInput").val(),
            "page": currentPage
        };

        //添加遮罩
        $(".search-section").showLoading();
        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/Article/GetPageData",
            data: params,
            dataType: "json",
            async: false,   //同步
            success: function (result) {

                resultData.totalPages = result.totalPages;
                resultData.data = result.pageDatas;
                //添加遮罩
                $(".search-section").hideLoading();

                $("#result").html("共 " + result.totalPages + " 页/" + result.total + " 条数据");
            }
        });

        return resultData;

    }

    //重新生成Body
    function RenderPageData(articles) {
        var dynamicHtml = "";
        for (var i = 0; i < articles.length; i++) {

            var pubTime = eval('new ' + eval(articles[i].Pubtime).source);

            var localDate = pubTime.toLocaleDateString();


            var contentHref = "/Activity/Detail?id=" + articles[i].Id;
            if (articleType == '@Common.Information')
            {
                var contentHref = "/Information/Detail?id=" + articles[i].Id;

            }

            dynamicHtml += '<div class="row article-row">';
            dynamicHtml += '<div class="col-md-12">';
            dynamicHtml += '<h3 class="customer-h3">' + articles[i].SubTitle + '</h3>';
            dynamicHtml += '<p class="customer-content-sm text-right">' + localDate + '</p>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-4">';
            dynamicHtml += '<a href="' + contentHref + '">';
            var imageVirtualPath = "";
            if (articles[i].Image != null)
                imageVirtualPath = articles[i].Image.VirtualPath;
            dynamicHtml += '<img src="' + imageVirtualPath + '" class="img-responsive" alt="无图标"/>';
            dynamicHtml += '</a>';
            dynamicHtml += '</div>';
            dynamicHtml += '<div class="col-md-8">';
            dynamicHtml += '<p class="customer-content-sm">';
            dynamicHtml += articles[i].Description == null ? "" : articles[i].Description;
            dynamicHtml += '</p>';
            dynamicHtml += '<a class="btn-gelatine btn-gelatine-info" href="' + contentHref + '"><strong>了解更多</strong></a>';

            dynamicHtml += '<a class="btn btn-lg btn-success articleBtn" onclick="OpenEditScreen(' + articles[i].Id + ')">修改</a>';
            dynamicHtml += '<a class="btn btn-lg btn-danger articleBtn" onclick="Delete(' + articles[i].Id + ')">删除</a>';

            dynamicHtml += '</div>';
            dynamicHtml += '</div>';
        }
        $("#content").html(dynamicHtml);
    }

    function InitAddOrEditScreen()
    {
        $('#articleedit').on('show.bs.modal', function () {
            //打开事件
        });

        $('#articleedit').on('hide.bs.modal', function () {
            // 关闭事件
            EmptyAddOrEditScreen();

        })
    }

    //打开新增界面
    function OpenAddScreen() {
        $('#articleadd').modal('show');
        $("#divAddContainer").load("/Article/Add?articleType="+articleType);

    }

    function CloseAddScreen() {
        $('#articleadd').modal('hide');

    }

    //打开修改界面
    function OpenEditScreen(id) {;
        if (id == null || id == "") {
            layer.alert('未获取到id,请刷新重新尝试。', {
                skin: 'layui-layer-molv' //样式类名
              , closeBtn: 0
            });
            return;
        }
        $('#articleedit').modal('show');
        $("#divEditContainer").load("/Article/Edit?articleId="+id+"&articleType=" + articleType);
       
    }

    function CloseEditScreen() {
        $('#articleedit').modal('hide');

    }
    
    //删除文章
    function Delete(id) {
        if (id == null || id == "") {
            layer.alert('未获取到id,请刷新重新尝试。', {
                skin: 'layui-layer-molv' //样式类名
              , closeBtn: 0
            });
            return;
        }

        $("body").showLoading();
        //获取数据总页数
        $.ajax({
            type: "POST",
            url: "/Article/Delete",
            data: { ArticleId: id },
            dataType: "json",
            async: false,   //同步
            success: function (result) {

                if (result.Success) {
                    InitPaging();
                    $("body").hideLoading();

                } else {
                    $("body").hideLoading();

                    layer.alert(result.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });

                }
            }
        });

    }

</script>

