
<link href="~/Content/CustomerMenu.css" rel="stylesheet">
<script src="~/Scripts/CustomerMenu.js"></script>

<div class="menu-sidebar" id="accordion">
    <div class="menu-sidebar-nav">
        <ul>
            <li>
                <a class="menu-first" href="/Setting/UserInfo">
                    <i class="fa fa-user"></i>
                    用户信息
                </a>
            </li>
            
            <li>
                <a class="menu-first" href="/Setting/ChangePassword">
                    <i class="fa fa-edit"></i>
                    密码修改
                </a>
            </li>
        </ul>



    </div>


</div>