<style>
    .jiathis_style .jiathis_counter.jiathis_bubble_style,
    .jiathis_style div {
      -webkit-box-sizing:content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
    }


</style>
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style">
    <a href="http://www.jiathis.com/share?uid=2107415" class="jiathis jiathis_txt" target="_blank">
        <img src="../logos/share.gif" border="0" />
    </a>
    <a class="jiathis_counter_style_margin:3px 0 0 2px"></a>
</div>
<script type="text/javascript">
var jiathis_config={
	data_track_clickback:true,
	summary:"",
	pic: "../img/logos/favicon.ico",
	shortUrl:false,
	hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js?uid=2107415" charset="utf-8"></script>
<!-- JiaThis Button END -->
