@{
    ViewBag.Title = "市场平台";
}

<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SystemManageLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">
                <!---->
                市场平台-暂无管理功能
            </div>
        </div>


    </div>
</section>
