@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;
@{
    ViewBag.Title = "精彩活动";
    ViewBag.ArticleType = @Common.WonderfulActivity;
}


<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SystemManageLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">
                @Html.Partial("_ArticleManage");
            </div>
        </div>


    </div>
</section>
