@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@{
    ViewBag.Title = "2016英特尔创新创业大赛海峡赛区";
    //项目内容
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
    //如果项目没有提交或者审核失败，则允许修改和提交，否则只能查看
    var enableEdit = false;
    if (project.Ques.Count == 0 || project.LatestQue.AuditStatus == Common.Audit_Failue)
    {
        enableEdit = true;
    }


}

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>

<style>
    .projectapplybg {
        position: relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 15%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../img/map-image.png");
        margin: 50px auto;
        background-color: #333;
    }

    .projectapply-intro {
        padding: 5% 10%;
        text-align: center;
    }

    .projectapply {
        position: absolute;
        bottom: -100px;
        left: 35%;
        z-index: 309;
    }

    #sendprojectapply {
        padding: 80px 0px;
    }



    .content-body-padding, .contact {
        padding: 0px 0px;
    }

    #eprojectapplyContent {
        height: 200px;
    }
</style>


<section class="contact">
    <div class="projectapplybg">
        <div class="projectapply-intro">
            <h2 class="customer-h2 whitefont">2016英特尔创新创业大赛海峡赛区</h2>

        </div>
    </div>
    @if (enableEdit)
    {
        @Html.Partial("_Edit")

    }
    else
    {
        @Html.Partial("_Detail")

    }




</section>

