@using Padmate.ServicePlatform.Models;
@using Padmate.ServicePlatform.Utility;
@{
    ViewBag.Title = "2016英特尔创新创业大赛海峡赛区";
    //项目内容
    var project = (M_IntelInnovationProjectApply)ViewData["project"];
    //如果项目没有提交或者审核失败，则允许修改和提交，否则只能查看
    var enableEdit = false;
    if (project.Ques.Count == 0 || project.LatestQue.AuditStatus == Common.Audit_Failue)
    {
        enableEdit = true;
    }

    //报名时间
    var endRegisterTime = System.Convert.ToDateTime("2016-11-25 23:59");
    //判断是否已经报名
    var isEndRegister = false;
    if (DateTime.Compare(DateTime.Now, endRegisterTime) > 0)
    {
        isEndRegister = true;
    }

}

<link rel="stylesheet" type="text/css" href="~/Scripts/webuploader/webuploader.css">
<script src="~/Scripts/webuploader/webuploader.js"></script>

<style>
    

    .content-body-padding, .contact {
        padding: 0px 0px;
    }
    .endtip
    {
        color:red;
    }
    .endtip a{
        color:red;
        text-decoration:underline;
    }
    .endtip a:hover,.endtip a:focus,.endtip a:active
    {
        color:red;
    }
</style>


<section class="contact">
    <div class="registerbg">
        <div class="register-intro">
            <h2 class="customer-h2 whitefont">2016英特尔创新创业大赛海峡赛区</h2>

        </div>
    </div>

    @if(isEndRegister)
    {
        <div class="container">
            <div class="col-md-12">
                <p class="customer-h2 endtip">
                    2016英特尔海峡创新创业大赛报名已经截止，感谢您的关注~12月3日上午有2016智享生态两岸创新创业高峰论坛，
                    下午大赛决赛公开路演，期待您报名参加！
                    <a href="/activity/activityforecast/b7eceaf2-f0b1-e611-86b3-1418775b817d.html">了解更多。。。</a>
                </p>

            </div>
        </div>


    }

    @if (enableEdit)
    {
        if (!isEndRegister)
        {
            @Html.Partial("_Edit")

        }

    }
    else
    {
    @Html.Partial("_Detail")

    }



</section>

