@{
    Layout = null;
    var role = (M_Role)ViewData["role"];
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;


<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center">修 改</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">角色名称：</label>
            </div>
            <div class="col-md-10">
                <input class="inputS" id="tbName" placeholder="角色名称" value="@role.Name" />
            </div>
        </div>
        

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveAdd()">
        保 存
    </button>
</div>



<script>

   
    $(function () {
    })



    //修改或新增保存
    function SaveAdd() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/User/Role/SaveEdit",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {
                    //图片上传成功后关闭对话框，刷新表格
                    CloseEditScreen();
                    //刷新
                    RefreshTable();
                    $("body").hideLoading();

                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {
        var obj = {
            Id:'@role.Id',
            Name: $("#tbName").val()

        };
        return obj;
    }


</script>