<style>
    .mailbg {
        position:relative;
        max-width: 100%;
        height: 0;
        padding-bottom: 30%;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-image: url("../img/servicebg.jpg");
        margin:50px auto;
    }
    .mail-intro{
        padding:5% 10%;
        text-align:center;
    }
    .mail{
        position:absolute;
        bottom:-100px;
        left:35%;
        z-index:309;
    }
    #sendmail{
        padding:80px 0px;
    }
    #sendmail input{
        width:50%;
    }
    #sendmail textarea {
        height: 300px;
    }
</style>

<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="customer-h2">联系我们</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-is-6 col-sm-6 col-md-5 col-md-offset-1">
                <div class="contactus-section">
                    <h4>产品开发</h4>
                    <p class="contactusFont">	陈先生，邮箱：cwm@hardagroup.com</p>
                </div>
                <div class="contactus-section">
                    <h4>供应链</h4>
                    <p class="contactusFont">杜先生，邮箱：dxb@hardagroup.com</p>
                </div>
                <div class="contactus-section">
                    <h4>投融资</h4>
                    <p class="contactusFont">
                        黄先生，邮箱：hxh@padmate.cn，联系电话：15160022892<br />
                        陈先生，邮箱：cyc@padmate.cn，联系电话：15805915836
                    </p>

                </div>
            </div>
            <div class="col-is-6 col-sm-6 col-md-6">
                <div class="contactus-section">
                    <h4>工程制作、检测</h4>
                    <p class="contactusFont">郑先生，邮箱：zhe@padmate.cn</p>
                </div>
                <div class="contactus-section">
                    <h4>市场</h4>
                    <p class="contactusFont">
                        董先生，邮箱：dongliang@padmate.cn（国内线下）<br />
                        柯先生，邮箱：knj@padmate.cn（国内电商）<br />
                        李小姐，邮箱：plum@hardagroup.com（国内大客户）<br />
                        熊先生，邮箱：rickey@padmate.cn（国际贸易）
                    </p>

                </div>

            </div>
        </div>
        
    </div>
    <div class="mailbg">
        <div class="mail-intro">
            <a href="#sendmail"><img class="image-smallsize mail" src="~/img/about/mail.png" /></a>
            <h2 class="customer-h2 whitefont">现在就发送邮件</h2>

        </div>
    </div>
    <div id="sendmail">
        <div class="container">

            <div class="row">

                <div class="col-md-12">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="你的邮箱" id="name">
                    </div>
                    <div class="form-group">
                        <input type="email" class="form-control" placeholder="邮件主题" id="email">
                    </div>
                    <div class="form-group">
                        <textarea class="form-control" placeholder="邮件内容" id="message" ></textarea>
                    </div>
                    <div class="text-right">
                        <a class="btn-gelatine btn-gelatine-website" href="javaScript:void(0);">发送邮件</a>

                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<script>
    $(function () {

    })

</script>