<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--邮件节点-->
  <mailsection>
    <smtpclients>
      <smtpclient type="QQSMTP" server="smtp.qq.com" username="2727954462@qq.com" displayname="厦门智能+ 创新创业公共服务平台" 
                  password="aptnaagocerwdfhd" >
        
      </smtpclient>
    </smtpclients>
    <mails>
      <mail type="contactus" to="" cc=""></mail>
    </mails>
  </mailsection>
  
  <!--路径节点-->
  <pathsection>
    <path id="editContentImageVirtualDirectory" value="/img/Upload/images/" description="在线文本编辑器内容图片虚拟目录"></path>

    <path id="homebgVirtualDirectory" value="/img/Upload/homebg/" description="背景图片虚拟目录"></path>
    <path id="articleThumbnailsVirtualDirectory" value="/img/Upload/ArticleThumbnails/" description="文章图标虚拟目录"></path>

    <path id="projectThumbnailsVirtualDirectory" value="/img/Upload/ProjectThumbnails/" description="项目图标虚拟目录"></path>

    <path id="projectAttachmentVirtualDirectory" value="/Upload/ProjectAttachment/" description="项目附件虚拟目录"></path>

    <path id="intelProjectAttachmentVirtualDirectory" value="/Upload/IntelInnovationProjectAttachment/" description="Intel创新创业项目附件虚拟目录"></path>

    <path id="userAttachmentVirtualDirectory" value="/Upload/UserAttachment/" description="用户信息附件"></path>

    <path id="moduleThumbnailsVirtualDirectory" value="/img/Upload/ModuleThumbnails/" description="模块图标虚拟目录"></path>

  </pathsection>
  
</configuration>
