<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />

    <!-- Add log4net config section-->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    
  </configSections>
  
  <!--log4net 日志-->
  <log4net debug="true">
    <!--MVC日志配置-->
    <appender name="MVCLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="logs\MVC\Exception" />
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <datePattern value="-yyyyMMdd.'log'" />
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true" />
      <!--变换的形式为日期，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->

      <!--文件以那种方式变换文件名：data日期/Size大小/Composite同时按照日期和大小-->
      <rollingStyle value="Composite" />
      
      <!--变换的形式为日志大小-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <!--<RollingStyle value="Size"/>-->
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="10" />
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="10MB" />

      <!--StaticLogFileName的值如果为true，
      则当前日志文件(相对于历史日志文件而言)的文件名只取File参数。
      如果为false，则文件名取File+DatePattern。-->
      <staticLogFileName value="false" />
      
      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%n%n%n%date 线程:[%thread] 级别：%-5level - 异常：%message%n%n" />
       
      </layout>
    </appender>
    
    <!--API日志配置-->
    <appender name="APILogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--定义文件存放位置-->
      <file value="logs\API\Exception" />
      <!--多线程时采用最小锁定-->
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <!--日期的格式，每天换一个文件记录，如不设置则永远只记录一天的日志，需设置-->
      <datePattern value="-yyyyMMdd.'log'" />
      <!--是否追加到文件,默认为true，通常无需设置-->
      <appendToFile value="true" />
      <!--变换的形式为日期，这种情况下每天只有一个日志-->
      <!--此时MaxSizeRollBackups和maximumFileSize的节点设置没有意义-->
      <!--<rollingStyle value="Date"/>-->

      <!--文件以那种方式变换文件名：data日期/Size大小/Composite同时按照日期和大小-->
      <rollingStyle value="Composite" />

      <!--变换的形式为日志大小-->
      <!--这种情况下MaxSizeRollBackups和maximumFileSize的节点设置才有意义-->
      <!--<RollingStyle value="Size"/>-->
      <!--每天记录的日志文件个数，与maximumFileSize配合使用-->
      <MaxSizeRollBackups value="10" />
      <!--每个日志文件的最大大小-->
      <!--可用的单位:KB|MB|GB-->
      <!--不要使用小数,否则会一直写入当前日志-->
      <maximumFileSize value="10MB" />

      <!--StaticLogFileName的值如果为true，
      则当前日志文件(相对于历史日志文件而言)的文件名只取File参数。
      如果为false，则文件名取File+DatePattern。-->
      <staticLogFileName value="false" />

      <layout type="log4net.Layout.PatternLayout">
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="%n%n%n%date 线程:[%thread] 级别：%-5level - 异常：%message%n%n" />

      </layout>
    </appender>
    
    <!--控制级别，由低到高: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF-->
    <!--比如定义级别为INFO，则INFO级别向下的级别，比如DEBUG日志将不会被记录-->
    <!--如果没有定义LEVEL的值，则缺省为DEBUG-->
    <root>
      <level value="ERROR" />
    </root>
    <logger name="MVCLog" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="MVCLogFileAppender" />
    </logger>

    <logger name="APILog" additivity="false">
      <level value="ERROR" />
      <appender-ref ref="APILogFileAppender" />
    </logger>
    
  </log4net>
  
  <connectionStrings>
    <!--<add name="MarkerPlatform" connectionString="Server=tcp:g4wxci5w1i.database.chinacloudapi.cn,1433;Database=makerplatform;User ID=MakerAdmin@g4wxci5w1i;Password=Admin_1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
          providerName="System.Data.SqlClient" />-->
    
    <add name="DefaultConnection" connectionString="Server = localhost\SQLEXPRESS;Database=ServicePlatformDB;User ID = ServiceAdmin;Password = Admin_1234;Trusted_Connection = False;" providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>

  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    
    <add key="UrlRewriteExtension" value=".html" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5">
      <!-- 加上此节点，保证原本就是.html类型的文件能正常访问 -->
      <buildProviders>
        <add extension=".html" type="System.Web.Compilation.PageBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />

    <!--On 表示在本地和远程用户都会看到自定义错误信息。
    Off 禁用自定义错误信息，本地和远程用户都会看到详细的错误信息。
    RemoteOnly 表示本地用户将看到详细错误信息，而远程用户将会看到自定义错误信息。-->
    <!--<customErrors mode="On">
      <error statusCode="404" redirect="/Home/Error404" />
      <error statusCode="500" redirect="/Home/Error500" />

    </customErrors>-->
    <customErrors mode="Off" />
    
  </system.web>
  <system.webServer>
    <!--此301跳转-->
    <rewrite>
      <rules>
        <rule name="Redirect to www">
          <match url=".*" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^xiamenip.cn$" />
          </conditions>
          <action type="Redirect" url="http://www.xiamenip.cn/{R:0}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />

      <remove name="FormsAuthentication" />
            <add name="urlrewrite" type="URLRewriter.ModuleRewriter" preCondition="managedHandler" />
    </modules>
     <validation validateIntegratedModeConfiguration="false" />
    
    <handlers>
            <remove name="php-7.0.13" />
       <!--如果重写成html，需要添加compilation节点，否则会导致ckfinder上传图片错误-->
        <add name="Html-Integrate" path="*.html" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
         
    </handlers>
        <staticContent>
            <mimeMap fileExtension=".apk" mimeType="application/vnd.android.package-archive" />
        </staticContent>
  </system.webServer>
  <RewriterConfig>
    <Rules>
      <!-- #重写Service规则 -->
      <RewriterRule>
        <LookFor>~/service.html</LookFor>
        <SendTo>~/Service/Service/Index</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/service/([A-Za-z]+).html</LookFor>
        <SendTo>~/Service/Service/$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/service/product/([A-Za-z]+).html</LookFor>
        <SendTo>~/Service/Product/$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/([A-Za-z0-9-]+).html</LookFor>
        <SendTo>~/Service/Product/ZZProjectDetail?id=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/service/service-price/([A-Za-z0-9-]+).html</LookFor>
        <SendTo>~/Infra/Module/ShowDetail?urlId=$1</SendTo>
      </RewriterRule>
      <!--重写Activity规则-->
      <!--<RewriterRule>
        --><!--?代表后面的是参数，该条规则可以匹配/activity.html 和/activity.html?page=1 两种url--><!--
          <LookFor>~/activity.html?(.+)</LookFor>
          <SendTo>~/Activity/Activity/Index?$1</SendTo>
      </RewriterRule>-->
      <RewriterRule>
        <LookFor>~/activity/([A-Za-z-]+).html?(.+)</LookFor>
        <SendTo>~/Activity/Activity/Index?$2&amp;type=$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/activity/([A-Za-z-]+)/([A-Za-z0-9-]+).html</LookFor>
        <SendTo>~/Activity/Activity/Detail?type=$1&amp;id=$2</SendTo>
      </RewriterRule>
      <!--重写Information规则-->
      <RewriterRule>
          <LookFor>~/information.html?(.+)</LookFor>
          <SendTo>~/information/information/Index?$1</SendTo>
        </RewriterRule>
        <RewriterRule>
          <LookFor>~/information/([A-Za-z0-9-]+).html</LookFor>
          <SendTo>~/information/information/Detail?id=$1</SendTo>
        </RewriterRule>
      <!-- #重写ProjectApply规则 -->
      <RewriterRule>
        <LookFor>~/intel-innovation-project-apply.html</LookFor>
        <SendTo>~/ProjectApply/IntelInnovationProjectApply/Index</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/intel-innovation-project-apply-tip.html</LookFor>
        <SendTo>~/ProjectApply/IntelInnovationProjectApply/Tip</SendTo>
      </RewriterRule>
      <!--投票-->
      <RewriterRule>
        <LookFor>~/intel-innovation-project-vote.html</LookFor>
        <SendTo>~/ProjectApply/IntelInnovationProjectVote/Index</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/intel-innovation-project-vote/([A-Za-z0-9-]+).html</LookFor>
        <SendTo>~/ProjectApply/IntelInnovationProjectVote/Detail?voteno=$1</SendTo>
      </RewriterRule>
      
      <!--重写其它规则-->
      <RewriterRule>
          <LookFor>~/about.html</LookFor>
          <SendTo>~/home/about</SendTo>
        </RewriterRule>
        <RewriterRule>
          <LookFor>~/contact.html</LookFor>
          <SendTo>~/home/contact</SendTo>
        </RewriterRule>
      <RewriterRule>
        <LookFor>~/manage/intel-innovation-project-apply.html</LookFor>
        <SendTo>~/manage/IntelInnovationProjectApply</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/manage/intel-innovation-project-vote-setting.html</LookFor>
        <SendTo>~/manage/IntelInnovationProjectVote</SendTo>
      </RewriterRule>
      
        <RewriterRule>
        <LookFor>~/manage/([A-Za-z]+).html</LookFor>
        <SendTo>~/manage/$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/manage/module/([A-Za-z0-9-]+).html</LookFor>
        <SendTo>~/manage/module?type=$1</SendTo>
      </RewriterRule>
      
    </Rules>
  </RewriterConfig>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>