<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="RewriterConfig" type="URLRewriter.Config.RewriterConfigSerializerSectionHandler, URLRewriter" />
  </configSections>
  <connectionStrings>
    <!--<add name="MarkerPlatform" connectionString="Server=tcp:g4wxci5w1i.database.chinacloudapi.cn,1433;Database=makerplatform;User ID=MakerAdmin@g4wxci5w1i;Password=Admin_1234;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
          providerName="System.Data.SqlClient" />-->
    
    <add name="DefaultConnection" connectionString="Server = localhost\SQLEXPRESS;Database=ServicePlatformDB;User ID = ServiceAdmin;Password = Admin_1234;Trusted_Connection = False;" providerName="System.Data.SqlClient" />
    
    
  </connectionStrings>

  
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    
    <add key="UrlRewriteExtension" value=".htm"/>
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <customErrors mode="On">
      <error statusCode="404" redirect="/Home/Error404" />
    </customErrors>
  </system.web>
  <system.webServer>
    <!--此301跳转需发布到IIS才有效-->
    <!--<rewrite>
      <rules>
        <rule name="Redirect to www">
          <match url=".*" />
          <conditions logicalGrouping="MatchAny">
            <add input="{HTTP_HOST}" pattern="^(www\.)(.*)$" negate="true" />
          </conditions>
          <action type="Redirect" url="http://www.xiamenip.cn/{R:0}" redirectType="Permanent"/>
        </rule>
      </rules>
    </rewrite>-->

    
    <modules>
      <add type="URLRewriter.ModuleRewriter, URLRewriter" name="ModuleRewriter" />

      <remove name="FormsAuthentication" />
            <add name="urlrewrite" type="URLRewriter.ModuleRewriter" preCondition="managedHandler" />
    </modules>
     <validation validateIntegratedModeConfiguration="false" />
    
    <handlers>
       <!--如果重写成html，会导致ckfinder上传图片错误？-->
        <add name="Html-Integrate" path="*.htm" verb="GET,HEAD,POST,DEBUG" type="System.Web.UI.PageHandlerFactory" resourceType="Unspecified" requireAccess="Script" preCondition="integratedMode" />
         
    </handlers>
  </system.webServer>
  <RewriterConfig>
    <Rules>
      <!-- #重写Service规则 -->
      <RewriterRule>
        <LookFor>~/service.htm</LookFor>
        <SendTo>~/Service/Service/Index</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/service/([A-Za-z]+).htm</LookFor>
        <SendTo>~/Service/Service/$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/service/product/([A-Za-z]+).htm</LookFor>
        <SendTo>~/Service/Product/$1</SendTo>
      </RewriterRule>
      <RewriterRule>
        <LookFor>~/product/([A-Za-z0-9-]+).htm</LookFor>
        <SendTo>~/Service/Product/ZZProjectDetail?id=$1</SendTo>
      </RewriterRule>
      <!--重写Activity规则-->
      <RewriterRule>
          <LookFor>~/activity.htm</LookFor>
          <SendTo>~/Activity/Activity/Index</SendTo>
        </RewriterRule>
        <RewriterRule>
          <LookFor>~/activity/([A-Za-z0-9-]+).htm</LookFor>
          <SendTo>~/Activity/Activity/Detail?id=$1</SendTo>
        </RewriterRule>
      <!--重写Information规则-->
      <RewriterRule>
          <LookFor>~/information.htm</LookFor>
          <SendTo>~/information/information/Index</SendTo>
        </RewriterRule>
        <RewriterRule>
          <LookFor>~/information/([A-Za-z0-9-]+).htm</LookFor>
          <SendTo>~/information/information/Detail?id=$1</SendTo>
        </RewriterRule>
      <!--重写其它规则-->
      <RewriterRule>
          <LookFor>~/about.htm</LookFor>
          <SendTo>~/home/about</SendTo>
        </RewriterRule>
        <RewriterRule>
          <LookFor>~/contact.htm</LookFor>
          <SendTo>~/home/contact</SendTo>
        </RewriterRule>
         <RewriterRule>
          <LookFor>~/manage/([A-Za-z]+).htm</LookFor>
          <SendTo>~/manage/$1</SendTo>
        </RewriterRule>
    </Rules>
  </RewriterConfig>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>