@using Padmate.ServicePlatform.Models;
@{
    ViewBag.Title = "修改密码";
    M_User user = (M_User)ViewData["UserInfo"];
}
<style>
    .error{
        color:red;
    }
</style>
<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-is-4 col-sm-2 col-md-2 setting-left">
                @Html.Partial("_SettingLeftMenu")
            </div>
            <div class="col-xs-8 col-is-8 col-sm-10 col-md-10">
                <!--修改密码-->
                <div class="col-sm-6 col-md-4">
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="当前密码"  id="OldPassword">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="新密码" id="NewPassword">
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="确认密码" id="ConfirmPassword">
                    </div>
                    <div class="form-group">
                        <label class="error"></label>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="button" value="保 存" class="btn btn-success" id="changeBtn" />
                        </div>
                    </div>
                </div>
                
            </div>
        </div>


    </div>
</section>
<script>
    $(function () {
        // Invoke the plugin
        $('input, textarea').placeholder({ customClass: 'my-placeholder' });
        ChangePassword();
    });

    //修改密码
    function ChangePassword() {
        $("#changeBtn").click(function () {

            var obj = {
                OldPassword: $("#OldPassword").val(),
                NewPassword: $("#NewPassword").val(),
                ConfirmPassword: $("#ConfirmPassword").val()
            };

            var jsonParam = JSON.stringify(obj);
            $.ajax({
                type: "POST",
                url: "/Setting/SetPassword",
                dataType: "json",
                data: jsonParam,
                async: false,   //同步
                success: function (message) {
                    //图片更新后不做任何操作
                    if(message.Success == false)
                    {
                        $(".error").html(message.Content);

                    }else{
                        //询问框
                        layer.confirm('密码修改成功，请重新登录', {
                            btn: ['重新登录', '返回首页'] //按钮
                        }, function () {
                            location.href = "/Account/Login";
                        }, function () {
                            location.href = "/Home/Default";
                        });
                    }
                }
            });



        });
    }

    //回车提交事件
    $("body").keydown(function () {
        if (event.keyCode == "13") {//keyCode=13是回车键
            $('#changeBtn').click();
        }
    });

</script>