@{
    ViewBag.Title = "市场平台";
}
<!--市场平台-->
<section id="services-marketplatform">
    <div class="container">
        <h2 class="customer-h2 text-center">市场平台</h2>
        <div class="row">
            <div class="col-xs-12 col-is-12 col-sm-6 col-md-6">
                <img class="img-responsive" src="~/img/Service/MarketPlatform/2015.5.23海西创客论坛1.jpg">
            </div>
            <div class="col-xs-12 col-is-12 col-sm-6 col-md-6">
                <p class="customer-content-md">
                    进行市场调研
                </p>
                <p class="customer-content-md">
                    举办论坛讲座
                </p>
                <p class="customer-content-md">
                    举办创意创新创业大赛
                </p>
            </div>
            
            
       
         </div>
        <br/><br/>
        <div class="row">
            <div class="col-xs-12 col-is-12 col-sm-6 col-md-6">
                <p class="customer-content-md text-right">
                    在国内外知名媒体进行广告宣传
                </p>
                <p class="customer-content-md text-right">
                    参加国内国际一流展会
                </p>
            </div>
            <div class="col-xs-12 col-is-12 col-sm-6 col-md-6">
                <img class="img-responsive" src="~/img/Service/MarketPlatform/2016.1American_CES_Show-1.jpg">

            </div>
            
        </div>
    </div>
</section>

<script>

    $(function () {

      

    })

</script>