@{
    ViewBag.Title = "产品平台";
}
<!--产品平台-->
<section id="services-productplatform" class="bg-light-gray portfolioContainer">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3 class="customer-h3 service-heading">产品平台</h3>
                <span class="customer-content-sm"> &nbsp;</span>
            </div>
        </div>
        <div class="row">
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/ZZProject" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/zzxm.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">众创项目</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/IAR" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/cxyy-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">产学研用</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>

            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/CulturalCreative" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/whcy-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">文化创意</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/IDMD" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/idmd-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">ID & MD</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/HardwareDesign" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/yjsj-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">硬件设计</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/SoftwareDesign" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/rjkf-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">软件开发</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/CustomerRequirement" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/khxq-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">客户需求</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/ProductCrowdfunding" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/cpzc-bg.png" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">产品众筹</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
            <div class="col-is-6 col-sm-4 col-md-4 text-center">
                <div class="service-box">
                    <a href="/Service/Product/OdmOem" class="information-box">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/odmoem-bg.jpg" />
                        <div class="information-box-caption">
                            <div class="information-box-caption-content">
                                <!--div文字居中-->
                                <div class="divmiddle-box">
                                    <div class="divmiddle-box-content">
                                        <p class="customer-content-md whitefont">阅读全文</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                    <div class="service-information-caption">
                        <h4 class="customer-h4">ODM/OEM</h4>
                        <span class="customer-content-sm">
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述
                            描述描述描述描述描述描述描述描述描述
                        </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>


<!-- 客户需求 -->
<div class="portfolio-modal modal fade" id="product-khxq" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">根据客户诉求进行产品及包装设计</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- 产品众筹 -->
<div class="portfolio-modal modal fade" id="product-cpzc" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">帮助项目进行国内国际产品众筹</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ODM/OEM -->
<div class="portfolio-modal modal fade" id="product-odmoem" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <i class="fa fa-3x fa-close"></i>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <!-- Project Details Go Here -->
                        <h2 class="customer-h2">暂无更新</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--#endregion 产品平台-->

<script>

    $(function () {

    })

</script>