@{
    ViewBag.Title = "文化创意";
    ViewBag.Current = "culturalcreative";
}

<div class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                @Html.Partial("_nav")
            </div>
        </div>
    </div>
</div>