@{
    ViewBag.Title = "客户需求";
}

<div class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                <h3>
                    <a class="customer-content-xs" href="/">首页</a> »
                    <a class="customer-content-xs" href="/Service/Service/Index">服务</a> »
                    <a class="customer-content-xs" href="/Service/Service/ProductPlatform">产品平台</a> »
                    <a class="customer-content-xs" href="/Service/Product/CustomerRequirement">客户需求</a>

                </h3>
            </div>
        </div>
    </div>
</div>
