@{
    ViewBag.Title = "产学研用";
    ViewBag.Current = "iar";
}

<div class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
                @Html.Partial("_nav")
            </div>
        </div>
    </div>
</div>
