@{
    ViewBag.Title = "软件开发";
    ViewBag.Current = "softwaredesign";
}

<div class="bg-light-gray text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-left">
               @Html.Partial("_nav")
            </div>

            <div class="col-lg-12">
                <div class="modal-body">
                    <!-- Project Details Go Here -->
                    <h2 class="customer-h2">软件开发</h2>

                    <div class="col-is-12 col-sm-4 col-md-4">
                        <img class="img-responsive" src="~/img/Service/ProductPlatform/rjkf.jpg">
                        <p class="customer-content-sm">
                        </p>
                    </div>
                    <div class="col-is-12 col-sm-8 col-md-8">
                        <ul class="text-left">
                            <li>
                                <span class="customer-content-sm">
                                    <strong> 嵌入式软件开发：</strong><br />
                                    由资深嵌入式软件工程师组队，精通
                                </span>
                            </li>
                            <li>
                                <span class="customer-content-sm">
                                    1、MCU技术平台，如ST、pic、dialog、TI、csr、高通、ARM

                                </span>
                            </li>
                            <li>
                                <span class="customer-content-sm">
                                    2、linux平台和各种rtos
                                </span>
                            </li>
                            <li>
                                <span class="customer-content-sm">
                                    3、通讯技术，如蓝牙、ZigBee、Wifi等等
                                </span>
                            </li>
                            <li>
                                <span class="customer-content-sm">
                                    4、各类感应器使用
                                </span>
                            </li>
                        </ul>
                        <ul class="text-left">
                            <li>
                                <span class="customer-content-sm">
                                    <strong> 网站开发：</strong><br />
                                    为用户提供一站式的网站建设规划、策划、设计服务
                                </span>
                            </li>
                        </ul>
                        <ul class="text-left">
                            <li>
                                <span class="customer-content-sm">
                                    <strong> APP开发：</strong><br />
                                    承接各类移动终端APP开发，包括独立APP或与硬件通讯集成系统。
                                </span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
