@{
    Layout = null;
}
@using Padmate.ServicePlatform.Utility;
@using Padmate.ServicePlatform.Models;


<div class="close-modal" data-dismiss="modal">
    <i class="fa fa-3x fa-close"></i>
</div>
<div class="container">

    <h3 class="customer-h3 text-center">新 增</h3>
    <hr />
    <div class="form-horizontal">
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目名称：</label>
            </div>
            <div class="col-md-10">
                <input class="inputS" id="tbName" placeholder="项目名称" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">排列顺序：</label>
            </div>
            <div class="col-md-10">
                <input class="inputS" id="tbSequence" placeholder="排列顺序" />
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目简介：</label>
            </div>
            <div class="col-md-10">
                <textarea class="textareaS" id="taDescription"></textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2 control-label">
                <label class="customer-content-sm">项目图标：</label>
            </div>
            <div class="col-md-10">
                <div id="uploadThumbnailsImage">选择图片</div>
                <span class="customer-content-sm" id="status"></span>
            </div>
            <div class="col-lg-4 col-md-6 col-md-offset-2" style="margin-top:10px;">
              <img class="image-smallsize" id="showUploadImage" src="~/img/small_model.jpg" alt="无图标" />
                
            </div>

        </div>
        
        <div class="form-group">
            <div class="col-md-12">
                <div class="checkbox">
                    <textarea id="taProjectContent" name="taProjectContent"></textarea>
                </div>
            </div>
            <div style="clear:both"></div>
        </div>
    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-lg btn-info"
            data-dismiss="modal">
        退 出
    </button>
    <button type="button" class="btn btn-lg btn-danger" onclick="SaveAdd()">
        保 存
    </button>
</div>

<script>

    var editor = CKEDITOR.instances["taProjectContent"];
    if (editor) { editor.destroy(true); }
    CKEDITOR.replace("taProjectContent", {
        enterMode: CKEDITOR.ENTER_BR
    });
    CKFinder.setupCKEditor(null, '@Url.Content("~/ckfinder/")');

    $(function () {
        InitWebUploader();
    })

    var uploader;
    function InitWebUploader() {
      

        // 初始化Web Uploader
        uploader = WebUploader.create({
            auto: false,   // 选完文件后，是否自动上传。
            swf: '../Scripts/webuploader/Uploader.swf',
            server: '/Service/Project/UploadThumbnailsImage',
            duplicate: true, //可重复上传同一文件
            pick: '#uploadThumbnailsImage',  // 选择文件的按钮。可选。内部根据当前运行是创建，可能是input元素，也可能是flash.
            compress: false, //图片不压缩
            accept: {           // 只允许选择图片文件。
                title: 'Images',
                extensions: 'gif,jpg,jpeg,bmp,png',
                mimeTypes: 'image/*'
            },
            multiple:false, 
            fileSingleSizeLimit: 1 * 1024 * 1024, // 单个文件最大不能超过1 M
            thumb: {        //缩略图配置
                // 为空的话则保留原有图片格式。
                // 否则强制转换成指定的类型。
                type: ''
                
            }
        });
        uploader.on('fileQueued', function (file) {debugger
            //生成预览图片
            uploader.makeThumb(file, function (error, src) {
                if (error) {
                    $("#showUploadImage").attr('alt', "预览错误");
                } else {
                    $("#showUploadImage").attr('src', src);
                }
            },1,1);
        });

        uploader.on('startUpload', function () {

            //开始上传，添加遮罩
            //$("body").showLoading();
        });
        uploader.on('uploadFinished', function () {

            //图片上传成功后关闭对话框，刷新表格
            CloseAddScreen();
            //刷新
            RefreshTable();
            $("body").hideLoading();
        });

        uploader.on('error', function (handler) {

            //隐藏遮罩
            $("body").hideLoading();
            
            if (handler == "Q_EXCEED_NUM_LIMIT") {
                alert("超出最大张数");
            }
            if (handler == "F_DUPLICATE") {
                alert("文件重复");
            }
            if (handler == "F_EXCEED_SIZE") {
                $("#status").html("<lable style='color:red;'>图片大小不能超过1M</lable>");
            }
        });


        // 文件上传成功，给item添加成功class, 用样式标记上传成功。
        uploader.on('uploadSuccess', function (file, response) {
            
            if (response.Success == false || response.Success == "false") {
                
            } else {

            }

        });

        // 完成上传完了，成功或者失败，先删除进度条。
        uploader.on('uploadComplete', function (file) {
            //$('#' + file.id).find('.progress').remove();
            //隐藏遮罩
            //$("body").hideLoading();
        });
    }

    function UploadImage(projectId)
    {
        
        uploader.options.formData.projectId = projectId;
        uploader.upload();
    }


    //修改或新增保存
    function SaveAdd() {

        $("body").showLoading();
        var saveObj = ConstructSaveObj();
        var jsonParam = JSON.stringify(saveObj);
        $.ajax({
            type: "POST",
            url: "/Service/Project/SaveAdd",
            dataType: "json",
            data: jsonParam,
            async: false,   //同步
            success: function (message) {

                if (message.Success) {
                    //上传图片
                    UploadImage(message.ReturnStrId);


                } else {
                    $("body").hideLoading();

                    layer.alert(message.Content, {
                        skin: 'layui-layer-molv' //样式类名
                      , closeBtn: 0
                    });
                    return;
                }
            }
        });
    }


    //构造保存对象
    function ConstructSaveObj() {
        var editor = CKEDITOR.instances["taProjectContent"];
        var obj = {
            Name: $("#tbName").val(),
            Description: $("#taDescription").val(),
            Type: '@Common.ZZ_Project',
            Sequence: $("#tbSequence").val(),
            Content: editor.getData()

        };
        return obj;
    }

    
</script>